{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <title>Notes</title>
</head>

<body>
<!--navigation bar-->
<header>
    <nav>
        <ul>
            <li class="img"><img src="{% static 'images/note.png' %}"/></li>
            <li><a href="{% url 'index' %}">Notes</a></li>
            <li class="right">
                <a href="{% url 'add-note' %}">Add Note</a>
                <a href="{% url 'profile-details' %}">Profile</a>
            </li>
        </ul>
    </nav>
</header>

{% block content %}
    {# information here from children htmls #}
{% endblock %}

<footer>
    <div>Python Web Basics Exam @SoftUni</div>
</footer>
</body>
</html>
