<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/images/library.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Online Books Library</title>
</head>

<body>
    <div id="container">
        <header id="site-header">

            <!-- Navigation -->
            <nav class="navbar">
                <section class="navbar-dashboard">
                    <a href="#">Dashboard</a>
                    <div id="user">
                        <span>Welcome, Peter</span>
                        <a class="button" href="#">Add Book</a>
                        <a class="button" href="#">Profile</a>
                    </div>
                </section>
            </nav>
        </header>

        <!-- Edit Profile Page -->
        <section id="edit-profile-page" class="edit">
            <form id="edit-form" action="#" method="">
                <fieldset>
                    <legend>Edit Profile</legend>
                    <label for="first-name">First Name</label>
                    <input type="text" name="first-name" id="first-name" value="Peter">
                    <label for="last-name">Last name</label>
                    <input type="text" name="last-name" id="last-name" value="Tomov">
                    <label for="image-url">Image URL</label>
                    <input type="url" name="image-url" id="image-url" value="https://thumbs.dreamstime.com/b/profile-picture-vector-perfect-social-media-other-web-use-125320533.jpg">
                    <input class="button submit" type="submit" value="Edit">
                </fieldset>
            </form>
        </section>

        <footer id="site-footer">
            <p>Python Web Basics Retake Exam @SoftUni</p>
        </footer>
    </div>
</body>

</html>
