{% extends 'base.html' %}
{% block content %}

        <section id="profile-page" class="details">
            <div class="profile-information">
                <h3>{{ profile.first_name }} {{ profile.last_name }}</h3>
                <p class="img"><img src="{{ profile.image_url }}" alt=""></p>
                <div class="actions">
                    <a class="button" href="{% url 'edit-profile' %}">Edit</a>
                    <a class="button" href="{% url 'delete-profile' %}">Delete</a>
                </div>
            </div>
        </section>

{% endblock %}
