{% extends 'base.html' %}
{% block content %}

    <section id="dashboard-page" class="dashboard">
        <h1>Dashboard</h1>
        {% if not books %}
            <p class="no-books" style="color: red;font-size: 30px">No books in database!</p>
        {% else %}
            <ul class="my-books-list">
                {% for book in books %}
                    <li class="myBooks">
                        <h3>Title: {{ book.title }}</h3>
                        <p>Type: {{ book.type }}</p>
                        <p class="img"><img src="{{ book.image }}" alt="{{ book.title }}">
                        </p>
                        <a class="button" href="{% url 'details-book' pk=book.pk %}">Details</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>

{% endblock %}