{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="profile">
        <div class="profile-data">
            <div class="profile_img">
                <div class="image">
                    <img src="{% static 'images/person.png' %}"
                         alt="no profile picture">
                </div>
            </div>
            <div class="personal">
                <div class="edit">
                    <p>{{ object.username }}</p>

                    <!-- Show button for edit and delete if its OWNER -->
                    {% if is_owner %}

                        <a href="{% url 'profile edit' pk=object.pk %}">
                            <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}"
                                 alt="edit button">
                        </a>

                        <a href="{% url 'profile delete' pk=object.pk %}">
                            <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}"
                                 alt="bin button">
                        </a>

                    {% endif %}

                </div>

                <div class="data">
                    <!-- Pet Total Photos -->
                    <span>4</span>
                    <p>photos</p>

                    <span>7</span>
                    <p>pets</p>

                    <span>4232</span>
                    <p>likes</p>
                </div>

                {% if object.get_full_name %}
                    <h3 class="names">{{ object.get_full_name }}</h3>
                {% else %}
                    <h3 class="names">{{ object.username }}</h3>
                {% endif %}

                <p class="email">{{ object.email }}</p>

                {% if object.gender %}
                    {{ object.gender }}
                {% endif %}

            </div>
        </div>
    </div>

    <div class="pets">
        <div class="statuses">

            {% for pet in object.pet_set.all %}

                <a href="{% url 'show pet details' username=object.username pet_slug=pet.slug %}">
                    <div class="head-pet">
                        <div class="status">
                            <div class="image">
                                <img src="{{ pet.personal_photo }}"
                                     alt="pet img">
                            </div>
                        </div>
                        <p>{{ pet.name }}</p>
                    </div>
                </a>

            {% endfor %}
        </div>
    </div>
    <!-- End Pets Data Section -->

    {#    <div class="pet-posts">#}
    {##}
    {#        <!-- IF Photos Start Pet Photos Post Section -->#}
    {#        <!-- Start First Pet Photo Post -->#}
    {#        {% include 'common/pets-posts.html' %}#}
    {##}
    {##}
    {#        <!-- IF Photos End Pet Photos Post Section -->#}
    {#        <!-- IF NOT Photos Show No Post Image -->#}
    {##}
    {#    </div>#}




{% endblock %}