{% extends 'base.html' %}
{% block content %}

    <section id="details-page" class="details">
        <div class="book-information">
            <h3>Book Title: {{ book.title }}</h3>
            <p class="type">Book Type: {{ book.type }}</p>
            <p class="img"><img src="{{ book.image }}" alt="{{ book.title }}"></p>
            <div class="actions">
                <a class="button" href="{% url 'edit-book' pk=book.pk %}">Edit</a>
                <a class="button" href="{% url 'delete-book' pk=book.pk %}">Delete</a>
            </div>
        </div>
        <div class="book-description">
            <h3>Description:</h3>
            <p>{{ book.description }}</p>
        </div>
    </section>

{% endblock %}
