<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/images/library.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Online Books Library</title>
</head>

<body>
    <div id="container">
        <header id="site-header">

            <!-- Navigation -->
            <nav class="navbar">
                <section class="navbar-dashboard">
                    <a href="#">Dashboard</a>
                    <div id="user">
                        <span>Welcome, Peter</span>
                        <a class="button" href="#">Add Book</a>
                        <a class="button" href="#">Profile</a>
                    </div>
                </section>
            </nav>
        </header>

        <!-- Details Page -->
        <section id="details-page" class="details">
            <div class="book-information">
                <h3>A Court of Thorns and </h3>
                <p class="type">Type: Fiction</p>
                <p class="img"><img src="https://images-na.ssl-images-amazon.com/images/I/81Z-yHX8OcL.jpg" alt=""></p>
                <div class="actions">
                    <a class="button" href="#">Edit</a>
                    <a class="button" href="#">Delete</a>
                </div>
            </div>
            <div class="book-description">
                <h3>Description:</h3>
                <p>Feyre's survival rests upon her ability to hunt and kill; the forest where she lives is a cold,
                    bleak place in the long winter months. So when she spots a deer in the forest being pursued by a
                    wolf, she cannot resist fighting it for the flesh. But to do so, she must kill the predator, and
                    killing something so precious comes at a price. Dragged to a magical kingdom for the murder of a
                    faerie, Feyre discovers that her captor, his face obscured by a jeweled mask, is hiding far more
                    than his piercing green eyes would suggest. Feyre's presence at the court is closely guarded and,
                    as she begins to learn why, her feelings for him turn from hostility to passion, and the faerie
                    lands become an even more dangerous place. Feyre must fight to break an ancient curse, or will
                    lose him forever. I first read A Court of Thorns and Roses (ACOTAR) 6 years ago and enjoyed the
                    continuation of the series by the same name. When the fourth book in the series was set to release
                    this past winter, I decided to listen to the three and half novels on audiobook to prepare. I loved
                    revisiting the series and Sarah J Maas's world. This series is more adult than a traditional YA
                    series (sometimes referred to as new adult or NA) but keeps all the things I love about YA. When I
                    first read this book, I finished in 2 days. The audiobook of 16 hours was listened to in 6 days.
                    ACOTAR has a flair for the dramatic and allowed me a fanstasy land to escape into.</p>
            </div>
        </section>

        <!-- Footer -->
        <footer id="site-footer">
            <p>Python Web Basics Retake Exam @SoftUni</p>
        </footer>
    </div>
</body>

</html>
