{% extends 'base.html' %}
{% block content %}

    <!-- Delete Book Page with same css as edit/ -->
    <section id="edit-page" class="edit">
        <form id="edit-form" method="post" action="{% url 'delete-book' pk=book.pk %}">
            <fieldset>
                <legend>Delete Book</legend>

                {{ form }}
                {% csrf_token %}

                <input class="button submit" type="submit" value="Delete">
            </fieldset>
        </form>
    </section>

{% endblock %}
