{% extends 'base.html' %}
{% block content %}

        <h1>My Notes</h1>
        <h2>There are no notes.</h2>
        <!--notes container-->
        <div class="note-container">
            <h2>Today's Tasks <img src="https://www.freeiconspng.com/thumbs/tasks-icon/tasks-icon-9.png" /></h2>

            <div class="right">
                <a class="button details" href="/details/3">Details</a>
                <a class="button edit" href="/edit/3">Edit</a>
                <a class="button delete" href="/delete/3">Delete</a>
            </div>
        </div>
    
{% endblock %}
