{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>My Recipes</h1>

        {% if not all_recipes %}
        <h2>There are no recipes.</h2>
        {% else %}

        <div class="items-container">
            {% for recipe in all_recipes %}

            <div class="item">
                <h2>{{ recipe.title }}</h2>
                <img class="detail-img" src="{{ recipe.image_url }}" alt="{{ recipe.title }}">
                <div class="recipe-info">
                    {{ recipe.description }}
                </div>
                <div class="buttons-container">
                    <a class="button detail" href="{% url 'details' pk=recipe.pk %}">Details</a>
                    <a class="button edit" href="{% url 'edit' pk=recipe.pk %}">Edit</a>
                    <a class="button delete" href="{% url 'delete' pk=recipe.pk %}">Delete</a>
                </div>
            </div>

            {% endfor %}


        </div>
    </div>
    {% endif %}
{% endblock %}