{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'images/library.jpg' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Online Books Library</title>
</head>
<body>
<div id="container">
    <header id="site-header">

        <nav class="navbar">
            <section class="navbar-dashboard">
                <a href="{% url 'index' %}">Dashboard</a>
                <div id="user">

                    {% if profile %}
                        <span>Welcome, {{ profile.first_name }}</span>
                    {% endif %}

                    <a class="button" href="{% url 'profile-page' %}">Profile</a>
                    <a class="button" href="{% url 'add-book' %}">Add Book</a>
                </div>
            </section>
        </nav>
    </header>

    {% block content %}
        {# information from inherited htmls here !#}
    {% endblock %}

    <footer id="site-footer">
        <p>G.Lukanov Team !</p>
    </footer>
</div>
</body>

</html>
