{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'images/library.jpg' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Online Books Library</title>
</head>
<body>
<div id="container">
    <header id="site-header">
        <!-- Navigation -->
        <nav class="navbar">
            <section class="navbar-dashboard">
                <a href="{% url 'index' %}">Dashboard</a>
                <div id="user">
                    <span>Welcome, Peter</span>
                    <a class="button" href="{% url 'add-book' %}">Add Book</a>
                    <a class="button" href="{% url 'profile-page' %}">Profile</a>
                </div>
            </section>
        </nav>
    </header>

    {% block content %}
        {# information here !#}
    {% endblock %}

    <footer id="site-footer">
        <p>Python Web Basics Retake Exam @SoftUni</p>
    </footer>
</div>
</body>
</html>
