{% extends 'base.html' %}
{% block content %}

    <main>
        <!-- Starts Delete Pet Section -->
        <div class="edit-delete edit-photo">
            <h2>Delete pet</h2>
            <!-- Starts Delete Pet Form -->
            <form method="post">

                {{ form.as_p }}
                {% csrf_token %}

                <!-- Delete Pet Button -->
                <button class="delete-btn" type="submit">Delete</button>
                <!-- Go Back Button -->
                <a class="btn btn-primary" href="javascript:history.back()">
                    <button class="edit-btn" type="button">Go back</button>
                </a>
            </form>
            <!-- End Delete Pet Form -->
        </div>
        <!-- End Delete Pet Section -->
    </main>

{% endblock %}