{% extends 'base.html' %}
{% block content %}

    <div class="body">
        <h1>Note Details</h1>

        <div class="note-details-container">
            <h2>{{ note.title }}</h2>
            <img class="detail-img" src="{{ note.image_url }}"
                 alt="note-image"/>
            <div>
                <p>Content</p>
            </div>
            <p>
                {{ note.content }}
            </p>
            <div class="right">
                <a class="button edit" href="{% url 'edit-note' pk=note.pk %}">Edit</a>
                <a class="button delete" href="{% url 'delete-note' pk=note.pk %}">Delete</a>
            </div>
        </div>
    
    </div>

{% endblock %}
