<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <title>Notes</title>
    </head>

    <body>
        <!--navigation bar-->
        <header>
            <nav>
                <ul>
                    <li class="img"><img src="/static/images/note.png" /></li>
                    <li><a href="/">Notes</a></li>
                    <li class="right"><a href="/profile">Profile</a></li>
                </ul>
            </nav>
        </header>
        <!--end navigation bar-->

        <div class="body">
            <!--headings-->
            <h1>Add Note</h1>
            <!--headings-->

            <!--note data form-->
            <div class="form">
                <form method="POST">
                    <input type="hidden" name="csrfmiddlewaretoken" value="HUrRfZ1Xv8I1kg0RCRhg5I8sTJMRfcaLEI9Pf4LGjQXUjsQgoxLnWAleb0K01njw" />
                    <label for="name">Title</label>
                    <input type="text" name="title" maxlength="50" required="" id="id_title" />

                    <label for="content">Content</label>
                    <textarea name="description" cols="40" rows="10" required="" id="id_description"></textarea>

                    <label for="image_url">Link to Image</label>
                    <input type="url" name="image_url" maxlength="200" required="" id="id_image_url" />

                    <input type="submit" value="Publish" />
                </form>
            </div>
            <!--end note data form-->
        </div>

        <!--footer-->
        <footer>
            <div>Python Web Basics Exam @SoftUni</div>
        </footer>
        <!--end footer-->
    </body>
</html>
