<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <title>Notes</title>
    </head>

    <body>
        <!--navigation bar-->
        <header>
            <nav>
                <ul>
                    <li class="img"><img src="/static/images/note.png" /></li>
                    <li><a href="/">Notes</a></li>
                    <li class="right">
                        <a href="/add">Add Note</a>
                        <a href="/profile">Profile</a>
                    </li>
                </ul>
            </nav>
        </header>
        <!--end navigation bar-->

        <div class="body">
            <!--headings-->
            <h1>Note Details</h1>
            <!--headings-->

            <!--details note box-->
            <div class="note-details-container">
                <h2>Today's Tasks</h2>
                <img class="detail-img" src="https://www.freeiconspng.com/thumbs/tasks-icon/tasks-icon-9.png" alt="note-image" />
                <div>
                    <p>Content</p>
                </div>
                <p>
                    Today I need to go shopping, make some pancakes, and at the end of the day I should write some code.
                </p>
                <div class="right">
                    <a class="button edit" href="/edit/4">Edit</a>
                    <a class="button delete" href="/delete/4">Delete</a>
                </div>
            </div>
            <!--end details note box-->
        </div>

        <!--footer-->
        <footer>
            <div>Python Web Basics Exam @SoftUni</div>
        </footer>
        <!--end footer-->
    </body>
</html>
