{% load static %}
<header>
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <a href="{% url 'show index' %}">
                    <img width="50px"
                         src="{% static 'images/dogo-argentino-dog-head-logo-icon-illustration-design-vector.jpg' %}"
                         alt="img1">
                </a>

                <a class="home" href="{% url 'show index' %}">
                    <i style="font-weight: bolder;font-size: 30px;color: #16a20c">PetStaGRaM</i>
                </a>
            </div>

            <div class="nav-links">
                <ul class="nav-group">
                    <li class="nav-item">
                        <a href="{% url 'add pet' %}">
                            <i>Add Pet</i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'add photo' %}">
                            <i>Add Photo</i>
                        </a>
                    </li>


                    {% if request.user.is_authenticated %}

                        <li class="nav-item">
                            <a href="{% url 'profile details' pk=request.user.pk %}">
                                <i>Profile={{ request.user }}</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'logout' %}">
                                <i>Log out</i>
                            </a>
                        </li>

                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'login' %}">
                                <i>Log in</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'register' %}">
                                <i>Register</i>
                            </a>
                        </li>
                    {% endif %}


                </ul>
            </div>
        </div>
    </nav>
</header>